    <link rel="stylesheet" href="~/css/nav.css" asp-append-version="true" />

<body>
    <div class="navbar">
        <div class="nav-item">
            <a  asp-area="" asp-controller="Home"
                                asp-action="Index">Home</a>
        </div>
        <div class="divider"></div>
        <div class="nav-item">
            <a  asp-area="" asp-controller="Home"
                                asp-action="FormDishes">Add a Dish</a>
        </div>
    </div>
</body>